{% extends 'base.html' %}
{% load staticfiles %}

{% block extraCSS %}
    <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/select.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/editor.dataTables.min.css' %}">
{% endblock %}

{% block title %}
    Détail utilisateur
{% endblock %}

{% block titrePage %}
    utilisateur
{% endblock %}

{% block sousTitre %}
    Détail utilisateur
{% endblock %}

{% block breadcrumb %}
    <li><a href="{% url 'home' %}"><i class="fa fa-dashboard"></i> Accueil </a></li>
    <li>utilisateur</li>
    <li class="active">détail</li>
{% endblock %}

{% block contenu %}
    <style>
        .user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}

    </style>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="box box-primary">
                <div class="box-header ui-sortable-handle">
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <li><a type ="button" href="{% url 'utilisateur-modifier' utilisateur.id  %}"><i class="fa fa-link"></i> <span><p style="font-weight:bolder">Modifier</p></span></a></li>
                    </div>
                    <!-- /. tools -->

                    <i class="fa fa-user"></i>

                    <h3 class="box-title">
                        {{ utilisateur.nom }} {{ utilisateur.prenom }}
                    </h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <table class="table table-user-information">
                            <tbody>
                            <tr>
                                <td><strong>MDP :</strong></td>
                                <td>{{ utilisateur.mdp }} </td>
                            </tr>
                            <tr>
                                <td><strong>Type :</strong></td>
                                <td>{{ utilisateur.type }} </td>
                            </tr>
                            <tr>
                                <td><strong>Superieur :</strong></td>
                                <td>{{ utilisateur.superieur }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
{% endblock %}


